<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLAuthorizationRepository.Properties.Settings.AUTHDBConnectionString"
            connectionString="Data Source=xxxxxxxx;Initial Catalog=AUTHDB;Persist Security Info=True;User ID=xxxx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>